<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean id="speaker" class="com.yedam.app.di.AppleSpeaker"/>
		
		<!--  setter 주입 -->
		<bean id="tv" class="com.yedam.app.di.SamsungTV">
			<property name="speaker" ref="speaker"></property>
		</bean>	
		
		<bean id="tv2" class="com.yedam.app.di.SamsungTV">
			<constructor-arg name="speaker" ref="speaker"></constructor-arg>
		</bean>
		
		<bean id="tv3" class="com.yedam.app.di.LgTV">
			<constructor-arg name="speaker" ref="speaker"></constructor-arg>
		</bean>
</beans>
